:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --bg-color: oklch(98.5% 0 0);

  --primary-color: oklch(54.6% 0.245 262.881);
  --secondary-color: oklch(55.8% 0.288 302.321);
  --heading-color: oklch(21% 0.034 264.665);
  --paragraph-color: oklch(44.6% 0.03 256.802);

  --stack-bg-color: oklch(96.7% 0.003 264.542);
  --back-start-color: oklch(97.7% 0.014 308.299);
  --back-end-color: oklch(97% 0.014 254.604);
  --skills-bg: oklch(92.8% 0.006 264.531);
  --header-color: #ffffffae;
  --footer-color: oklch(21% 0.034 264.665);
}

[data-theme='dark'] {
  --bg-color: oklch(13% 0.028 261.692);

  --primary-color: oklch(70.7% 0.165 254.624);
  --secondary-color: oklch(71.4% 0.203 305.504);

  --heading-color: oklch(92.8% 0.006 264.531);
  --paragraph-color: oklch(70.7% 0.022 261.325);

  --stack-bg-color: oklch(27.8% 0.033 256.848);
  --back-start-color: oklch(27.8% 0.033 256.848);
  --back-end-color: oklch(27.8% 0.033 256.848);
  --skills-bg: oklch(37.3% 0.034 259.733);
  --header-color: oklch(27.8% 0.033 256.848 / 0.6);
  --footer-color: #000;
}

body {
  background-color: var(--bg-color);
  color: var(--heading-color);
  transition: all 0.3s;
}
