* {
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-orange-500: oklch(70.5% 0.213 47.604);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-green-400: oklch(79.2% 0.209 151.711);
  --color-green-500: oklch(72.3% 0.219 149.579);
  --color-emerald-500: oklch(69.6% 0.17 162.48);
  --color-emerald-600: oklch(59.6% 0.145 163.225);
  --color-cyan-500: oklch(71.5% 0.143 215.221);
  --color-blue-50: oklch(97% 0.014 254.604);
  --color-blue-100: oklch(93.2% 0.032 255.585);
  --color-blue-300: oklch(80.9% 0.105 251.813);
  --color-blue-400: oklch(70.7% 0.165 254.624);
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-blue-700: oklch(48.8% 0.243 264.376);
  --color-blue-900: oklch(37.9% 0.146 265.522);
  --color-blue-950: oklch(28.2% 0.091 267.935);
  --color-purple-50: oklch(97.7% 0.014 308.299);
  --color-purple-300: oklch(82.7% 0.119 306.383);
  --color-purple-400: oklch(71.4% 0.203 305.504);
  --color-purple-500: oklch(62.7% 0.265 303.9);
  --color-purple-600: oklch(55.8% 0.288 302.321);
  --color-purple-700: oklch(49.6% 0.265 301.924);
  --color-purple-900: oklch(38.1% 0.176 304.987);
  --color-purple-950: oklch(29.1% 0.149 302.717);
  --color-pink-300: oklch(82.3% 0.12 346.018);
  --color-pink-400: oklch(71.8% 0.202 349.761);
  --color-pink-600: oklch(59.2% 0.249 0.584);
  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);
  --color-gray-950: oklch(13% 0.028 261.692);
  --color-black: #000;
  --color-white: #fff;
}

:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --bg-color: oklch(98.5% 0 0);

  --primary-color: oklch(54.6% 0.245 262.881);
  --secondary-color: oklch(55.8% 0.288 302.321);
  --heading-color: oklch(21% 0.034 264.665);
  --sub-heading-color: oklch(55.1% 0.027 264.364);
  --paragraph-color: oklch(44.6% 0.03 256.802);

  --stack-bg-color: oklch(96.7% 0.003 264.542);
  --back-start-color: oklch(97.7% 0.014 308.299);
  --back-end-color: oklch(97% 0.014 254.604);
  --skills-bg: oklch(92.8% 0.006 264.531);
}

[data-theme='dark'] {
  --bg-color: oklch(13% 0.028 261.692);

  --primary-color: oklch(70.7% 0.165 254.624);
  --secondary-color: oklch(71.4% 0.203 305.504);
  --heading-color: oklch(92.8% 0.006 264.531);
  --sub-heading-color: oklch(70.7% 0.022 261.325);
  --paragraph-color: oklch(70.7% 0.022 261.325);

  --stack-bg-color: oklch(27.8% 0.033 256.848);
  --back-start-color: oklch(27.8% 0.033 256.848);
  --back-end-color: oklch(27.8% 0.033 256.848);
  --skills-bg: oklch(37.3% 0.034 259.733);
}

body {
  background-color: var(--bg-color);
  color: var(--heading-color);
  transition: all 0.3s;
}
