.skills {
  h1,
  h2 {
    opacity: 0;
  }
  &.show {
    h1,
    h2 {
      animation: 0.5s move-down ease-out;
      opacity: 1;
    }

    .skills-list {
      opacity: 1;
      .linear .progress {
        animation: 0.5s skills-progress ease-out;
        width: var(--level);
      }
    }
  }
  h2 {
    text-align: center;
    margin-block: 64px 32px;
    font-size: 30px;
    color: var(--heading-color);
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    opacity: 0;

    li {
      width: 48%;
      margin-block: 20px;
      .text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
      }

      .linear {
        width: 100%;
        height: 15px;
        border-radius: 30px;
        background-color: var(--skills-bg);
        position: relative;
        .progress {
          border-radius: 30px;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      li {
        width: 100%;
      }
    }
  }

  .technologies {
    .technologies-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2%;

      li {
        text-align: center;
        margin-block: 24px;
        padding: 16px;
        width: 13rem;
        border: solid 2px var(--stack-bg-color);
        border-radius: 15px;
        background-image: linear-gradient(
          var(--back-start-color),
          var(--back-end-color)
        );
        transition: 0.3s;
        opacity: 0;
        &:hover {
          box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
            0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
          scale: 0.95;
        }
        h3 {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 4px;
        }
        p {
          font-size: 12px;
          color: var(--paragraph-color);
        }
      }
    }
    &.show {
      li {
        animation: 0.2s move-down ease-out forwards;
      }

      li:nth-child(1) {
        animation-delay: 0.2s;
      }
      li:nth-child(2) {
        animation-delay: 0.4s;
      }
      li:nth-child(3) {
        animation-delay: 0.6s;
      }
      li:nth-child(4) {
        animation-delay: 0.8s;
      }
      li:nth-child(5) {
        animation-delay: 1s;
      }
      li:nth-child(6) {
        animation-delay: 1.2s;
      }
      li:nth-child(7) {
        animation-delay: 1.4s;
      }
      li:nth-child(8) {
        animation-delay: 1.6s;
      }
      li:nth-child(9) {
        animation-delay: 1.8s;
      }
      li:nth-child(10) {
        animation-delay: 2s;
      }
      li:nth-child(11) {
        animation-delay: 2.2s;
      }
      li:nth-child(12) {
        animation-delay: 2.4s;
      }
    }
  }
}
