:root {
  --bg-color: #ffffff;
  --text-color: oklch(21% 0.034 264.665);
}

[data-theme='dark'] {
  --text-color: #fff;
  --bg-color: #030712;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s;
}
