.about {
  background-color: var(--stack-bg-color);

  h1 {
    opacity: 0;
  }
  &.show {
    h1 {
      animation: 0.5s move-down ease-out;
      opacity: 1;
    }

    .content-container .photo {
      animation: 0.5s move-left-side ease-out;
      opacity: 1;
    }
    .content-container .text {
      animation: 0.5s move-right-side ease-out;
      opacity: 1;
    }
  }
  .content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .photo {
      position: relative;
      width: 50%;
      opacity: 0;

      &::before {
        border-radius: 15px;
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to left,
          var(--secondary-color) 50%,
          var(--primary-color)
        );
        transform: rotate(3deg);
      }

      img {
        border-radius: 15px;
        width: 100%;
        position: relative;
      }
    }

    .text {
      width: 45%;
      color: var(--paragraph-color);
      line-height: 1.55556;
      opacity: 0;
      h2 {
        color: var(--heading-color);
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 16px;
        font-size: 1.2rem;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      gap: 24px;
      .photo,
      .text {
        width: 100%;
      }
    }
  }
}
